.data {
    position: absolute;
    width: 14vw;
    height: 14vh;
    fill: #fffbe3;
    cursor: pointer;
    stroke: #D7B653;
    stroke-width: 0
}

.ledger {
    position: absolute;
    width: 14vw;
    height: 4vh;
    fill: #fffbe3;
    cursor: pointer;
    stroke: #D7B653;
    stroke-width: 0
}

.table {
    position: absolute;
    background-color: white;
    border: solid;
    z-index: 2;
    visibility: hidden;
    width: 20vw;
    left: 0;
    top: 7vh;
    font-size: 1.2vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th {
    text-align: left;
}

.bar {
    position: absolute;
    flex-direction: row;
    height: 4vh;
    width: 69.5vw;
    fill: #ececec;
    box-sizing: border-box;
}

.main-body {
    display: flex;
    background-color: #E5E5E5;
    height: 100vh;
}

.title {
    fill: #D7B653;
    width: 14vw;
    height: 3vh;
}

.diagram {
    position: absolute;
    height: 94vh;
    width: 76vw;
    left: 20vw;
    bottom: 3vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    background: white; 
    overflow-y: auto;
}

h1 {
    position: absolute;
    left: 4.5vh;
    top: 3vh;
    font-size: 4.5vh;
    font-style: normal;
    letter-spacing: -0.02em;
}

h2 {
    position: absolute;
    top: 15vh;
    left: 4.5vh;
    font-size: 4vh;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.02em; 
}

#dec {
    position: absolute;
    width: 1vw;
    height: 20vh;
    top: 7.5vh;
    background: #D7B653;
}

#submit {
    position: absolute;
    top: 40vh;
    left: 5vh;
    background: #D7B653;
    border-radius: 5px;
    border-width: 0;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    width: 6vw;
    height: 4vh;
}

#submit:hover {
    background: #BAB88F;
    cursor: pointer;
}

#company {
    position: absolute;
    top: 50vh;
    left: 5vh;
    width: 10vw;
    height: 3vh;
    font-size: 2vh;
    border-radius: 4px;
    border: 0;
}

#docID {
    position: absolute;
    top: 60vh;
    left: 5vh;
    width: 10vw;
    height: 3vh;
    font-size: 2vh;
    border-radius: 4px;
    border: 0;
}

#docType {
    position: absolute;
    top: 70vh;
    left: 5vh;
    width: 10vw;
    height: 3vh;
    font-size: 2vh;
    border-radius: 4px;
    border: 0;
}

#docType {
    cursor: pointer
}

#label1 {
    position: absolute;
    top: 45vh;
    left: 5vh;
    font-size: 2vh;
}

#label2 {
    position: absolute;
    top: 55vh;
    left: 5vh;
    font-size: 2vh;
}

#label3 {
    position: absolute;
    top: 65vh;
    left: 5vh;
    font-size: 2vh;
}

#svg {
    position: absolute;
    z-index: 1;
    left: 23vw;
    top: 7vh;
    height: 90vh;
    width: 75vw;
}

.more-icon {
    width: 1.5vh;
    height: 1.5vh;
}

.reminder {
    position: absolute;
    background-color: rgb(119, 150, 148);
    border: solid;
    border-radius: 5px;
    border-width: 0;
    padding: 2vh;
    z-index: 4;
    font-weight: bold;
    font-size: 1.5vh;
    visibility: hidden;
    top: 0;
    left: 0;
    color: white;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3)) drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.07));
}

.rem-button {
    border-radius: 3px;
    font-size: 1.2vh;
    background: white;
    border-width: 0;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3)) drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.07));
    color: rgb(119, 150, 148);
    width: 3vw;
    height: 2.5vh;
    margin: 0.5vh;
}

.rem-button:hover {
    cursor: pointer;
    background: rgb(209, 224, 223);
}

#overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    visibility: hidden;
}
